body {
  font-family: Arial, sans-serif;
  background-color: #f1f3f6; /* Light background for contrast */
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #45a049;
}

/* QR Code Styles */
#qrcode {
  margin-top: 20px;
  padding: 10px;
  border: 5px solid #4CAF50; /* Outline matching button color */
  display: block;
  margin-left: auto;
  margin-right: auto; /* Center align QR code */
  width: max-content; /* Ensure it doesn't take too much space */
}
